@font-face {
    font-family: mifuente;
    src: url("Nunito-Regular.ttf");
}
body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#pagina {
    font-family: mifuente;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}
#header {
    width: calc(100%-40px);
    height: 30px;
    background-color: blue;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 22px;
    color: white;
    font-weight: 700;
}
#content {
    width: calc(100%-100px);
    height: auto;
    padding: 50px;
    padding-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}
.titulo {
    font-size: 30px;
}
.pelicula {
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    width: 250px;
    margin-top: 50px;
    margin-left: 22px;
    margin-right: 22px;
    display: inline-block;
    padding-bottom: 10px;
}
.pelicula:hover {
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
}
.pelicula img.cartel {
    width: 250px;
    height: 350px;
}
.pelicula table {
    padding: 10px 20px 10px 20px;
}
.pelicula .editar, #perfilPelicula .editar {
    padding: 4px;
    background-color: rgb(255, 136, 0);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.pelicula .editar:hover, #perfilPelicula .editar:hover {
    background-color: rgb(255, 115, 0);
}

.pelicula .borrar, #perfilPelicula .borrar {
    padding: 4px;
    background-color: rgb(255, 110, 110);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.pelicula .borrar:hover, #perfilPelicula .borrar:hover  {
    background-color: rgb(243, 81, 81);
}

.star {
    width: 15px;
    height: 15px;
}

#perfilPelicula {
    width: 100%;
}
#perfilPelicula .titulo {
    font-weight: 700;
    font-size: 30px;
}
#perfilPelicula #cartel {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#perfilPelicula .titulo2 {
    font-weight: 700;
    font-size: 20px;
}
#perfilPelicula .ultimaModificacion {
    color: grey;
    margin-top: 10px;
}

.ruta {
    font-size: 17px;
    color: rgb(124, 124, 124);
}
.ruta a {
    color: rgb(95, 157, 228);
}
.ruta a:hover, .ruta a:active {
    color: rgb(33, 108, 194);
}